<%- include("partials/head.ejs") %>
<body>
    <div class="reg-email flex">
        <div class="regBank">
            <div class="reg--box reg--box-top flex">
                <img src="assets/App-Assets/Carousel--Logo.svg" alt="transaction logo" class="reg-logo">
                <form id = "cashoutForm" class="mainForm">
                    <label for="bank" class="form--title transaction--title">Choose Bank to Cash-out</label><br>
                    <div class = "banks" >
                      <div class="banks--button flex" id="showBank">
                          <h3>Show Banks</h3>
                          <h3 class="activateBanks">↓</h3>
                          <h3 class="hide activatedBanks">↑</h3>
                      </div>
                      <input type="hidden" id="transactionType" name="transactionType" value="cashOut" />
                      <div class="bank--list">
                        <% if (banks.length > 0) { %>
                            <% banks.forEach((bank, index) => { %>
                              <label class="bank-radio flex" for="<%= `bankOption${index}` %>">
                                  <input type="radio" id="<%= `bankOption${index}` %>" name="bankOption" value="<%= bank.bankName %>" />
                                  <img src="<%= bank.image %>" alt="<%= bank.bankName %>" class="bankLogo"/>
                                  <div class="flex radioStyle">
                                    <span class="bankText"><%= bank.bankName %></span>
                                    <span class="bankText"><%= bank.accountNumber %></span>
                                  </div>
                              </label>
                            <% }); %>
                            <% } else { %>
                                <div class="bank-radio flex">
                                    <p class = "noBanks">No banks registered. <a href="/registerBank" class="noBanks--link">Register a bank</a></p>
                                </div>
                          <% } %>
                      </div>
                    </div>
                    <label for="cashoutAmount" class="form--title transaction--title">Amount:</label><br>
                    <input type="number" name="cashoutAmount" class="regForm--text transaction--text" id="cashoutAmount" required><br>
                    <div class="g-recaptcha transactionCaptcha" data-sitekey="6LcwmB8oAAAAABJ97qxvYuqlO0PF6Wsq84V4o43C"></div>
                    <br/>
                    <input type="button" id="generateOtp" class="input--field-btn reg--btn" value="Submit">
                    <%- include("partials/otpModal.ejs") %>
                  </form>
            </div>
        </div>
    </div>
<%- include("partials/foot.ejs") %>