<%- include("partials/head.ejs") %>
<body>
    <div class="reg-email flex">
        <div class="regBank">
            <div class="reg--box reg--box-top flex">
                <img src="assets/App-Assets/Carousel--Logo.svg" alt="transaction logo" class="reg-logo">
                <form id = "bankRegForm" class="mainForm">
                    <p class="form--title transaction--title">Choose Bank to Register:</p>
                    <div class = "banks" >
                        <div class="banks--button flex" id="showBank">
                            <h3>Show Banks</h3>
                            <h3 class="activateBanks">↓</h3>
                            <h3 class="hide activatedBanks">↑</h3>
                        </div>
                        <input type="hidden" id="transactionType" name="transactionType" value="registerBank" />
                        <div class="bank--list">
                            <% bankList.forEach((bank, index) => { %>
                                <label class="bank-radio flex" for="<%= `bankOption${index}` %>">
                                    <input type="radio" id="<%= `bankOption${index}` %>" name="bankOption" value="<%= bank.name %>" />
                                    <img src="<%= bank.logo %>" alt="<%= bank.name %>" class="bankLogo"/>
                                    <span><%= bank.name %></span>
                                </label>
                            <% }); %>
                        </div>
                    </div>
                    <label for="accountNumber" class="form--title transaction--title">Account Number:</label><br>
                    <input type="number" name="accountNumber" class="regForm--text transaction--text" id="accountNumber" required><br>
                    <div class="g-recaptcha transactionCaptcha" data-sitekey="6LcwmB8oAAAAABJ97qxvYuqlO0PF6Wsq84V4o43C"></div>
                    <br/>
                    <input type="button" id="generateOtp" class="input--field-btn reg--btn" value="Submit">
                    <%- include("partials/otpModal.ejs") %>
                </form>
            </div>
        </div>
    </div>
<%- include("partials/foot.ejs") %>